<mat-card class="mt-4">
  <mat-card-header>
    <mat-card-title>Blog 1</mat-card-title>
    <mat-card-subtitle>Written by: Bailey Miller</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <div>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <b class="mat-warn">5</b>
      <span class="mat-warn"> Likes</span>
    </div>
    <div class="ml-auto">
      <b class="mat-primary">10</b>
      <span class="mat-primary"> Shares</span>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Share Icon" svgIcon="google-share"></mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>